@{
    ViewBag.Title = "Dash Board";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}

<div class="jumbotron">
  <h1>Dash Board</h1>
  <p>Helps to monitor current trend of conferencing happening</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
