@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
     @Styles.Render("~/Content/css")
<body>
  <ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="/Candidate/Index">Candidate Records</a></li>
  <li><a href="#">Dash Borad</a></li>
  </ul>
</body>
     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
</html>
